.border{
    border: 2px solid red;
}
.outerWrapper{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    /* height: 100vh; */
    
    background: #fff;
}

.left{
    /* border: 2px solid purple; */
    width: 50%;
    padding: 100px 2rem;
    /* height: 300vh; */
}

.detailsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 5px solid red; */
}
.details{

    height: 200%;
    /* width: 100%; */
    /* margin: 800px 0; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* padding:10vh 0; */
    width: 100%;
    /* gap: 2rem; */
    /* border: 2px solid red; */
    /* padding-bottom: 300px; */
}

.info-text-container{
    /* height: 100vh;  */
    /* border: 2px solid grey; */
    width:100%;
    /* text-overflow: clip; */
    display: flex;
    align-items: center;
}

.Section-info-text{
    /* width: 80%; */
    
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 2px solid black; */
}

.Section-info-text h2{
    line-height: 48px;
    font-size: 40px;
    font-weight: 900;
    word-break: break-all;
    word-wrap: break-word;
    /* width: 100%; */
}
.Section-info-text b{
    color: #181a1c;
}
.Section-info-text p {
   font-size: 18px;
    line-height: 1.5;
    color: #000;
    
}

.pin-sec-btn{
    background: #2e51ed;
    max-width: 360px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    outline: none;
    border: none;
    border-radius: 8px;
    color:#edf4ff;
    transition: 0.2s all ease-in-out;
}
.pin-sec-btn:hover{
    background: #2036a1;
}

.employeeCardContainer{
    /* border: 2px solid green; */
    height: 100vh;
    display: flex;
    align-items: center;
}

.Section-employee-card{
    width: 100%;
    background: #f6f6f7;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(51, 55, 59, 0.08),0px 1px 10px rgba(51, 55, 59, 0.06);
    padding: 24px 32px;
    /* border: 2px solid black; */
   
}

.employee-info{

    
    display: flex;
    align-items: center;
    gap: 1rem;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    /* justify-content: center; */
    
}

.employee-img{
    max-width: 84px;
    max-height: 84px;
    height: 100%;
    width: 100%;
    background: #8ea1f7;
    border-radius: 50%;
    /* display: flex;
    align-items: center; */
    
}

.employee-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.employee-details{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* border:2px solid yellow */
}
.employee-details h3{
    color: #181a1c;
    font-weight: 700;
    margin: 0;
    font-size: 18px;
}
.employee-details p{
    margin: 0;
    font-size: 16px
}

.employee-quote p::before{
    content: '“';
}

.employee-quote p{
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    color: #181a1c;
}

.employee-quote p::after{
    content: '”';
}

.headLine{
    background-color: green;
    height: 40px;
    width: 100%;
}
.text{
    background-color: orange;
    height: 20px;
    width: 100%;
}

.right{
    height: 100vh;
    width: 50%;
    /* border: 5px solid palevioletred; */
}
.imageCard{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* border: 2px solid black; */
}
.image{
    background: linear-gradient(180deg, rgba(12,38,196,1) 18%, rgba(59,11,103,1) 96%);
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    flex-direction: column;
    justify-content: end;
    /* justify-content: flex-end; */
    position: relative;
    height:60% ;
    /* min-height: 80%; */
    width: 80%;
    /* border:12px solid yellow; */
}

.innerImage{
   min-height: 60%;
   /* height: 220px; */
    width: 100%;
    margin-bottom: 7%;
    /* border:10px solid #ff0000; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    scale:1.25;
}

.innerImageWrapper{
    height: 80%;
    width: 95%;
    /* position: absolute; */
    /* bottom: 0; */
    
    /* border:10px solid black; */
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items:center ;
    /* justify-content: space-between; */
    position: absolute;
    /* right: 12%; */
    
    
}

/* .innerImageWrapper img{
    object-fit: contain;
} */

.a2{
    /* position: relative;
    border: 5px solid grey;
    display: flex;
    flex-direction: column; */
    /* gap: 4rem; */

}
.inner-img-container img{
    /* border:5px solid grey; */
    border-radius: 12px;
    object-fit: cover;
}
.inner-img-container{
    /* border: 5px solid green; */
    height: 100%;
    width: 100%;
    /* border-radius: 12px; */
    /* display: flex;
    flex-direction: column;
    gap: 2rem; */
    /* position: absolute; */
    /* display: inline-block; */
    /* transform: translate(-50%, -50%); */
    /* left: 50%; */
    /* right: 50%; */
    /* border: 5px solid red; */
    /* width:600px;
    
    height:400px; */
    /* right: 0%; */
    /* opacity: 1; */
    /* right: 0; */

}

.a2 img{
    /* border: 2px solid green; */
    border-radius: 12px;
    /* height: 100%;
    width: 100%; */
    /* position: absolute;
    bottom: -200%;
    scale: 0.7; */
}

.a1,.a2,.a3{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}