.dummySection{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    color: aliceblue;
    background: #0dca72;
    /* position: sticky; */
    /* top: 0; */
    height: 100vh;
}


.staggeredText{
    /* border:2px solid grey ; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* gap: 1rem; */
}

.staggeredText div{
    display: inline-block;
    position: absolute;
    left: 45%;
    right: 65%;
    opacity: 1;
    transform: translate(150%, 150%);
    color: rgb(126, 11, 155);
    font-size: 54px;
}